.row
  .span3
    = render "shared/deploy_sidebar"

  .span9
    %section.page-content
      %h3 开始自动化部署

      %table.table.table-striped
        %tr
          %th{:width=>100} 环境
          %th{:width=>100} 地址
          %th{:width=>100} 状态
          %th{:width=>100} 操作
      
        - @deploy_machines.each do |deploy_machine|
          %tr
            %td= deploy_machine.name
            %td= deploy_machine.host
            %td= deploy_machine.status
            %td
              =link_to "部署", "/auto_deploy/deploy?machine=#{deploy_machine.id}", :data=>{:confirm => "机器【#{deploy_machine.name}】将要执行【上线】操作，是否确定？"}, :class=>"btn btn-small btn-success"
              =link_to "回滚", "/auto_deploy/rollback?machine=#{deploy_machine.id}", :data=>{:confirm => "机器【#{deploy_machine.name}】将要执行【回滚】操作，是否确定？"}, :class=>"btn btn-small btn-danger"

