.hero-unit
  .row
    .span5
      %h2 配置&部署中心 V0.1
      %h4
        %i.icon-ok
        动态库表: 
      %h6 支持动态添加、删除数据表，修改数据表Schema
      %h4
        %i.icon-ok
        动态表单: 
      %h6 根据自定义的数据表Schema动态生成配置数据编辑表单
      %h4
        %i.icon-ok
        配置编辑器: 
      %h6 支持配置项分组、数据默认值、候选下拉菜单等易用功能
      %h4
        %i.icon-ok
        数据库分组：
      %h6 为各组同学提供不同的逻辑数据库，各组同学工作互不影响
      %h4
        %i.icon-ok
        数据版本控制: 
      %h6 Trunk版本数据提供编辑功能，还可以存储为Tag版本数据
      %h4
        %i.icon-ok
        转存XML文件: 
      %h6 支持以数据表的每个Tag版本数据为单位Dump成XML文件
      %h4
        %i.icon-ok
        数据Web服务: 
      %h6 支持Web访问Dump出的数据文件，提供数据的自动更新服务
      %h4
        %i.icon-time
        自动化发布
      %h4
        %i.icon-time
        自动化部署
      %h4
        %i.icon-time
        完善用户手册
      %h4
        %i.icon-time
        批量导入数据
      %h4
        %i.icon-time
        用户权限控制

    .span5
      %h2 用户手册 V0.1
      %h4
        %i.icon-forward
        Step 1: 新增数据表
      %h6
        %i.icon-hand-up
        点击
        = link_to "New Table", new_table_schema_path, :class=>"btn btn-primary"
      %h6
        %i.icon-pencil
        设置 table 和 owner 字段
      %h6
        %i.icon-pencil
        增加所需的 field, 并设置所需的选项
      %h6
        %i.icon-hand-up
        点击
        = link_to "Create Table schema", "#", :class=>"btn btn-success"
      %h6
        %span.label.label-important warning
        每个 field 必须设置 group, 并且每个表至少包含一个 key group field

      %h4
        %i.icon-forward
        Step 2: 向表中添加数据
      %h6
        %i.icon-hand-up
        点击
        = link_to "Configurations", recommend_configs_path(:owner=>"online", :table=>get_owner_first_table("online")), :class=>"btn btn-inverse"
        找到目标数据表
      %h6
        %i.icon-hand-up
        点击
        = link_to "New Config", "#", :class=>"btn btn-primary"
      %h6
        %i.icon-pencil
        设置相应的 field
      %h6
        %i.icon-hand-up
        点击
        = link_to "Create Config", "#", :class=>"btn btn-success"
      %h6
        %span.label.label-important warning:
        key group 下面的 field 必须全部设置

      %h4
        %i.icon-forward
        Step 3: 数据Tag
      %h6
        %i.icon-hand-up
        点击
        = link_to "Configurations", recommend_configs_path(:owner=>"online", :table=>get_owner_first_table("online")), :class=>"btn btn-inverse"
        找到目标数据表
      %h6
        %i.icon-hand-up
        点击
        = link_to "Tag", "#", :class=>"btn btn-warning"
      %h6
        %i.icon-pencil
        设置 Tag version
      %h6
        %i.icon-hand-up
        点击
        = link_to "Create", "#", :class=>"btn btn-success"

      %h4
        %i.icon-forward
        Step 4: 数据Dump
      %h6
        %i.icon-hand-up
        点击
        = link_to "Configurations", recommend_configs_path(:owner=>"online", :table=>get_owner_first_table("online")), :class=>"btn btn-inverse"
        找到目标数据表
      %h6
        %i.icon-hand-up
        点击
        = link_to "Dump", "#", :class=>"btn btn-success"
      %h6
        %i.icon-pencil
        设置 File name
      %h6
        %i.icon-hand-up
        点击
        = link_to "Create", "#", :class=>"btn btn-success"
