%div{:id=>"myModal#{table_schema.id}", :class=>"modal hide fade", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
  .modal-header
    %h3#myModalLabel Create New Tag
  .modal-body
    = form_for table_schema, :url=>create_tag_table_schemas_path, :method=>:post, :html=>{:class=>"form-horizontal"} do |f|
      .control-group
        = f.label :id, :class=>"control-label"
        .controls
          = f.text_field :id, :class=>"uneditable-input"
      .control-group
        = f.label :table, :class=>"control-label"
        .controls
          = f.text_field :table, :class=>"uneditable-input"
    
      .control-group
        = f.label :version, :class=>"control-label"
        .controls
          = f.text_field :version, :class=>"uneditable-input"
    
      .control-group
        = f.label :owner, :class=>"control-label"
        .controls
          = f.text_field :owner, :class=>"uneditable-input"

      .control-group
        = label :table_schema, :tag_version, :class=>"control-label"
        .controls
          / 不依赖对象，手动组合二级form结构!
          = text_field :table_schema, :tag_version

      .control-group
        .controls
          = f.submit "Create", :class=>"btn btn-success"
          %button{:class=>"btn", "data-dismiss"=>"modal", "aria-hidden"=>"true"} Cancel

