= form_for @table_schema, :html => {:class=>"form-horizontal"} do |f|
  - if @table_schema.errors.any?
    #error_explanation
      %h2
        = pluralize(@table_schema.errors.count, "error")
        prohibited this table_schema from being saved:

      %ul
      - @table_schema.errors.full_messages.each do |msg|
        %li= msg

  .control-group
    = f.label :table, :class=>"control-label"
    .controls
      = f.text_field :table

  .control-group
    = f.label :version, :class=>"control-label"
    .controls
      = f.text_field :version

  .control-group
    = f.label :owner, :class=>"control-label"
    .controls
      = f.text_field :owner

  .control-group
    = f.fields_for :table_fields do |fields|
      .row
        .span3
          .control-group
            = fields.label :name
            = fields.text_field :name
            = fields.label :required
            = fields.text_field :required
        .span3
          .control-group
            = fields.label :label
            = fields.text_field :label
            = fields.label :help_text
            = fields.text_field :help_text
        .span3
          .control-group
            = fields.label :group
            = fields.text_field :group
            = fields.label :field_type
            = fields.text_field :field_type

  .control-group
    .controls
      = f.submit :class=>"btn btn-success"
      = link_to 'Back', table_schemas_path, :class=>"btn"

%a{:href=>"#myModal", :role=>"button", :class=>"btn", "data-toggle"=>"modal"} Launch demo modal
%div{:id=>"myModal", :class=>"modal hide fade", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
  .modal-header
    %h3#myModalLabel Modal header
  .modal-body
    %p One fine body
  .modal-footer
    %button{:class=>"btn", "data-dismiss"=>"modal", "aria-hidden"=>"true"} Close
    %button{:class=>"btn btn-primary"} Save changes

