= form_for @table_schema, :html => {:class=>"form-horizontal"} do |f|
  - if @table_schema.errors.any?
    #error_explanation
      %h2
        = pluralize(@table_schema.errors.count, "error")
        prohibited this table_schema from being saved:

      %ul
      - @table_schema.errors.full_messages.each do |msg|
        %li= msg

  .accordion#accordion2
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-toggle"=>"collapse", "data-parent"=>"#accordion2", :href=>"#collapseOne"} Basic Config
      .accordion-body.collapse.in#collapseOne
        .accordion-inner
          .control-group
            = f.label :table, :class=>"control-label"
            .controls
              = f.text_field :table

          .control-group
            = f.label :version, :class=>"control-label"
            .controls
              = f.text_field :version

          .control-group
            = f.label :owner, :class=>"control-label"
            .controls
              = f.text_field :owner

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-toggle"=>"collapse", "data-parent"=>"#accordion2", :href=>"#collapseTwo"} Algorithm Config
      .accordion-body.collapse#collapseTwo
        .accordion-inner
          %p test test test test test
          %p test test test test test
          %p test test test test test
          %p test test test test test
          %p test test test test test
          %p test test test test test
          %p test test test test test
          %p test test test test test
          %p test test test test test
          %p test test test test test

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-toggle"=>"collapse", "data-parent"=>"#accordion2", :href=>"#collapseThree"} Filter Config
      .accordion-body.collapse#collapseThree
        .accordion-inner
          %p test test test test test

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-toggle"=>"collapse", "data-parent"=>"#accordion2", :href=>"#collapseFour"} Rerank Config
      .accordion-body.collapse#collapseFour
        .accordion-inner
          %p test test test test test

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-toggle"=>"collapse", "data-parent"=>"#accordion2", :href=>"#collapseFive"} Summary Config
      .accordion-body.collapse#collapseFive
        .accordion-inner
          %p test test test test test

  .control-group
    .controls
      = f.submit :class=>"btn btn-success"
      = link_to 'Back', table_schemas_path, :class=>"btn"

