.row
  .span3
    = render "shared/repo_sidebar"

  .span9
    %section.page-content
      .row
        .span2.offset7
          =link_to "New Table", new_table_schema_path, :class=>"btn btn-primary"

      %p
        %span.label.label-important Trunk
      
      %table.table.table-striped
        %tr
          %th id
          %th table
          %th version
          %th owner
          %th time
          %th operation
      
        - if @table_schemas
          - @table_schemas.each do |table_schema|
            %tr
              %td= table_schema.id
              %td= table_schema.table
              %td= table_schema.version
              %td= table_schema.owner
              %td= table_schema.updated_at.to_s[0..-7]
              %td
                %a{:href=>"#myModalCreateTag#{table_schema.id}", :role=>"button", :class=>"btn btn-small btn-warning", "data-toggle"=>"modal"} Tag
                = render :partial=>"create_tag", :locals=>{:table_schema=>table_schema}
                = link_to 'Show', table_schema, :class=>"btn btn-small"
                = link_to 'Edit', edit_table_schema_path(table_schema), :class=>"btn btn-small btn-info"
                = link_to 'Destroy', table_schema, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-small btn-danger"


      %p
        %span.label.label-important Tags

      %table.table.table-striped
        %tr
          %th id
          %th table
          %th version
          %th owner
          %th time
          %th operation
      
        - if @tag_table_schemas
          - @tag_table_schemas.each do |tag_table_schema|
            %tr
              %td= tag_table_schema.id
              %td= tag_table_schema.table
              %td= tag_table_schema.version
              %td= tag_table_schema.owner
              %td= tag_table_schema.updated_at.to_s[0..-7]
              %td
                %a{:href=>"#myModalDumpXml#{tag_table_schema.id}", :role=>"button", :class=>"btn btn-small btn-success", "data-toggle"=>"modal"} XML
                = render :partial=>"dump_xml", :locals=>{:tag_table_schema=>tag_table_schema}
                %a{:href=>"#myModalDumpNsf#{tag_table_schema.id}", :role=>"button", :class=>"btn btn-small btn-success", "data-toggle"=>"modal"} NSF
                = render :partial=>"dump_nsf", :locals=>{:tag_table_schema=>tag_table_schema}
                = link_to 'Show', tag_table_schema, :class=>"btn btn-small"
                = link_to 'Destroy', tag_table_schema, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-small btn-danger"

