.row
  .span3
    = render "shared/repo_sidebar"

  .span9
    %section.page-content
      %p#notice= notice
      
      %h3 Showing table schema

      = form_for @table_schema, :html => {:class=>"form-horizontal"} do |f|
        .control-group
          = f.label :table, :class=>"control-label"
          .controls
            = f.text_field :table, :disabled=>"disabled"
      
        .control-group
          = f.label :version, :class=>"control-label"
          .controls
            = f.text_field :version, :disabled=>"disabled"
      
        .control-group
          = f.label :owner, :class=>"control-label"
          .controls
            = f.text_field :owner, :disabled=>"disabled"
      
        .control-group
          = f.fields_for :table_fields do |fields|
            .well
              .row
                .span4
                  .control-group
                    = fields.label :group
                    = fields.text_field :group, :disabled=>"disabled"
                    = fields.label :label
                    = fields.text_field :label, :disabled=>"disabled"
                    = fields.label :name
                    = fields.text_field :name, :disabled=>"disabled"
                .span4
                  .control-group
                    = fields.label :default_value
                    = fields.text_field :default_value, :disabled=>"disabled"
                    = fields.label :help_text
                    = fields.text_field :help_text, :disabled=>"disabled"
                    = fields.label :field_type
                    = fields.text_field :field_type, :disabled=>"disabled"

        .control-group
          .controls
            = link_to 'Edit', edit_table_schema_path(@table_schema), :class=>"btn btn-info"
            = link_to 'Back', table_schemas_path, :class=>"btn"

