.control-group
  .control-label
    = f.label :agg_config
  .controls
    = f.text_field :agg_config, :class=>"input-xxlarge"

.control-group
  .control-label
    = f.label :site_config
  .controls
    = f.text_field :site_config, :class=>"input-xxlarge"

.control-group
  .control-label
    = f.label :rec_package
  .controls
    = f.text_field :rec_package, :class=>"input-xxlarge"

.control-group
  .control-label
    = f.label :rerank_package
  .controls
    = f.text_field :rerank_package, :class=>"input-xxlarge"

.control-group
  .control-label
    = f.label :item_package
  .controls
    = f.text_field :item_package, :class=>"input-xxlarge"

.control-group
  .control-label
    = f.label :trim_package
  .controls
    = f.text_field :trim_package, :class=>"input-xxlarge"

.control-group
  .control-label
    = f.label :query_package
  .controls
    = f.text_field :query_package, :class=>"input-xxlarge"

.control-group
  .control-label
    = f.label :aliguess_package
  .controls
    = f.text_field :aliguess_package, :class=>"input-xxlarge"

