%table.table.table-striped
  %tr
    %th 名称
    %th 地址

  %tr
    %td Title:
    %td= @deploy_datum.title

  %tr
    %td Svn config:
    %td= @deploy_datum.svn_config

  %tr
    %td Rec package:
    %td= @deploy_datum.rec_package

  %tr
    %td Rerank package:
    %td= @deploy_datum.rerank_package

  %tr
    %td Site package:
    %td= @deploy_datum.site_package

  %tr
    %td Item package:
    %td= @deploy_datum.item_package

  %tr
    %td Trim package:
    %td= @deploy_datum.trim_package

  %tr
    %td Query package:
    %td= @deploy_datum.query_package

  %tr
    %td Aliguess package:
    %td= @deploy_datum.aliguess_package

