.row
  .span3
    = render "shared/deploy_sidebar"

  .span9
    %section.page-content
      %h3 上线单列表

      %table.table.table-striped
        %tr
          %th 编号
          %th 标题
          %th 状态
          %th 创建人
          %th 更新时间
          %th 操作
      
        - @deploy_data.each do |deploy_datum|
          %tr
            %td= deploy_datum.id
            %td= deploy_datum.title
            %td= deploy_datum.status
            %td= deploy_datum.user ? deploy_datum.user.name : ""
            %td= deploy_datum.updated_at.to_s[0..-7]
            %td
              = link_to 'Show', deploy_datum, :class=>"btn btn-small"
              = link_to 'Edit', edit_deploy_datum_path(deploy_datum), :class=>"btn btn-small btn-info"
              = link_to 'Destroy', deploy_datum, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-small btn-danger"
      
      %br
      
      = link_to '新建上线单', new_deploy_datum_path, :class=>"btn btn-primary"

