= form_for @recommend_config, :url=>recommend_config_path(@recommend_config, :owner=>params[:owner], :table=>params[:table]), :method=>:put, :html=>{:class=>"form-horizontal"} do |form|
  = form.hidden_field :table_schema_id, :value=>@table_schema.id
  .accordion#accordion2
    - @table_schema.group_fields.each do |group, fields|
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-toggle"=>"collapse", "data-parent"=>"#accordion2", :href=>"#collapse#{group}"}= "#{group.upcase} GROUP"
        .accordion-body.collapse.in{:id=>"collapse#{group}"}
          .accordion-inner
            - fields.each do |field|
              /= debug "#{group}    #{field[:name]}    #{@recommend_config[group][field[:name]]}"
              = form.fields_for group, @recommend_config[group] do |f|
                .control-group
                  .control-label
                    = f.label field[:name]
                  .controls
                    - if field[:field_type] == "select"
                      = f.select field[:name], get_options(field[:option_value]), :selected=>@recommend_config[group][field[:name]], :class=>"input-xxlarge"
                    - else
                      = f.text_field field[:name], :value=>@recommend_config[group][field[:name]], :class=>"input-xxlarge"

  .control-group
    .controls
      = form.submit "Update Config", :class=>"btn btn-success"
      = link_to 'Back', recommend_configs_path(:owner=>params[:owner], :table=>params[:table]), :class=>"btn"

