= form_for @recommend_config, :method=>:put, :class=>"form-horizontal" do |form|
  .accordion#accordion2
    - divide_group_fields.each do |group, fields|
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-toggle"=>"collapse", "data-parent"=>"#accordion2", :href=>"#collapse#{group}"}= "#{group} config"
        .accordion-body.collapse.in{:id=>"collapse#{group}"}
          .accordion-inner
            - fields.each do |field|
              /= debug "#{group}    #{field[:name]}    #{@recommend_config[group][field[:name]]}"
              = form.fields_for group, @recommend_config[group] do |f|
                .control-group
                  .control-label
                    = f.label field[:name]
                  .controls
                    = f.text_field field[:name], :value=>@recommend_config[group][field[:name]]

  .control-group
    .controls
      = form.submit "Update", :class=>"btn btn-success"
      = link_to 'Back', recommend_configs_path, :class=>"btn"

