= form_tag recommend_configs_path, :class=>"form-horizontal" do
  - @table_schema.table_fields.each do |field|
    = fields_for "#{@table_schema.table}[#{field.group}]" do |f|
      .control-group
        .control-label
          = f.label field[:label]
        .controls
          = f.text_field field[:name]

  .control-group
    .controls
      = submit_tag "Create", :class=>"btn btn-success"
      = link_to 'Back', recommend_configs_path, :class=>"btn"

