= form_tag recommend_configs_path(:owner=>params[:owner], :table=>params[:table]), :class=>"form-horizontal" do
  = fields_for "#{@table_schema.table}" do |f|
    = f.hidden_field :table_schema_id, :value=>@table_schema.id
  .accordion#accordion2
    - @table_schema.group_fields.each do |group, fields|
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-toggle"=>"collapse", "data-parent"=>"#accordion2", :href=>"#collapse#{group}"}= "#{group.upcase} GROUP"
        .accordion-body.collapse.in{:id=>"collapse#{group}"}
          .accordion-inner
            - fields.each do |field|
              = fields_for "#{@table_schema.table}[#{field.group}]" do |f|
                .control-group
                  .control-label
                    = f.label field[:label]
                  .controls
                    - if field[:field_type] == "select"
                      = f.select field[:name], get_options(field[:option_value]), :class=>"input-xxlarge"
                    - else
                      = f.text_field field[:name], :value=>field[:default_value], :class=>"input-xxlarge"

  .control-group
    .controls
      = submit_tag "Create", :class=>"btn btn-success"
      = link_to 'Back', recommend_configs_path(:owner=>params[:owner], :table=>params[:table]), :class=>"btn"

