.row
  .span3
    = render "shared/editor_sidebar"

  .span9
    %section.page-content
      .row
        .span2.offset5
          =link_to "Batch Update", batch_edit_recommend_configs_path(:owner=>params[:owner], :table=>params[:table]), :class=>"btn btn-success"
        .span2
          =link_to "New Config", new_recommend_config_path(:owner=>params[:owner], :table=>params[:table]), :class=>"btn btn-primary"
      %ul.nav.nav-tabs
        - get_owner_all_tables(params[:owner]).each do |table_schema|
          %li{:class => (request.url=~/#{table_schema.table}/ ? "active" : nil)}
            = link_to table_schema.table, recommend_configs_path(:owner=>params[:owner], :table=>table_schema.table)
      
      %table.table.table-striped
        %tr
          %th id
          - @table_schema.table_fields.each do |field|
            - if field[:group] == "key"
              %th= field[:label]
          %th operation
      
        - @recommend_configs.each do |config|
          %tr
            %td= config.id
            - @table_schema.table_fields.each do |field|
              - if field[:group] == "key" and config["key"]
                %td= config["key"][field[:name]]
            %td
              = link_to 'Show', recommend_config_path(config, :owner=>params[:owner], :table=>params[:table]), :remote=>true, :class=>"btn btn-small"
              = link_to 'Edit', edit_recommend_config_path(config, :owner=>params[:owner], :table=>params[:table]), :class=>"btn btn-small btn-info"
              = link_to 'Copy', copy_new_recommend_configs_path(:id=>config.id, :owner=>params[:owner], :table=>params[:table]), :class=>"btn btn-small btn-primary"
              = link_to 'Destroy', recommend_config_path(config, :owner=>params[:owner], :table=>params[:table]), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-small btn-danger"

      = paginate @recommend_configs

      #show-ajax
