= form_for @site, :html => {:class=>"form-horizontal"} do |f|
  - if @site.errors.any?
    #error_explanation
      %h2
        = pluralize(@site.errors.count, "error")
        prohibited this site from being saved:

      %ul
      - @site.errors.full_messages.each do |msg|
        %li= msg

  .control-group
    = f.label :scope, :class=>"control-label"
    .controls
      = f.text_field :scope

  .control-group
    = f.label :scope_type, :class=>"control-label"
    .controls
      = f.text_field :scope_type

  .control-group
    = f.label :domain, :class=>"control-label"
    .controls
      = f.text_field :domain

  .control-group
    .controls
      = f.submit :class=>"btn btn-success"
      = link_to 'Back', sites_path, :class=>"btn"
