= form_for @site, :html => {:class=>"form-horizontal"} do |f|
  - if @site.errors.any?
    #error_explanation
      %h2
        = pluralize(@site.errors.count, "error")
        prohibited this site from being saved:

      %ul
      - @site.errors.full_messages.each do |msg|
        %li= msg

  .accordion#accordion2
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-toggle"=>"collapse", "data-parent"=>"#accordion2", :href=>"#collapseOne"} Basic Config
      .accordion-body.collapse.in#collapseOne
        .accordion-inner
          .control-group
            = f.label :scope, :class=>"control-label"
            .controls
              = f.text_field :scope

          .control-group
            = f.label :scope_type, :class=>"control-label"
            .controls
              = f.text_field :scope_type

          .control-group
            = f.label :domain, :class=>"control-label"
            .controls
              = f.text_field :domain

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-toggle"=>"collapse", "data-parent"=>"#accordion2", :href=>"#collapseTwo"} Algorithm Config
      .accordion-body.collapse#collapseTwo
        .accordion-inner
          %p test test test test test
          %p test test test test test
          %p test test test test test
          %p test test test test test
          %p test test test test test
          %p test test test test test
          %p test test test test test
          %p test test test test test
          %p test test test test test
          %p test test test test test

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-toggle"=>"collapse", "data-parent"=>"#accordion2", :href=>"#collapseThree"} Filter Config
      .accordion-body.collapse#collapseThree
        .accordion-inner
          %p test test test test test

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-toggle"=>"collapse", "data-parent"=>"#accordion2", :href=>"#collapseFour"} Rerank Config
      .accordion-body.collapse#collapseFour
        .accordion-inner
          %p test test test test test

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-toggle"=>"collapse", "data-parent"=>"#accordion2", :href=>"#collapseFive"} Summary Config
      .accordion-body.collapse#collapseFive
        .accordion-inner
          %p test test test test test

  .control-group
    .controls
      = f.submit :class=>"btn btn-success"
      = link_to 'Back', sites_path, :class=>"btn"

