!!! 5
%html
  %head
    %title= Sapphire
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          /= link_to "Sapphire", root_path, :class=>"brand"
          .nav-collapse.collapse
            %ul.nav
              %li{:class => (controller_name=="home"?"active":nil)}= link_to "Home", root_path
              %li{:class => (controller_name=="recommend_configs"?"active":nil)}= link_to "Editor", recommend_configs_path(:owner=>"online", :table=>get_owner_first_table("online"))
              %li{:class => (controller_name=="table_schemas"?"active":nil)}= link_to "Repositories", table_schemas_path
              %li{:class => (controller_name=="deploy"?"active":nil)}= link_to "Deploying", "#"
              %li{:class => (controller_name=="helps"?"active":nil)}= link_to "Help", "#"
    
    %header.jumbotron.subhead
      .container
        %h1 Let's go
        %p.lead Move fast, and break things.

    .container
      = yield

    .footer
      .container
        %p © Aliyun 2013

