!!! 5
%html
  %head
    %title= Sapphire
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          /= link_to "Sapphire", root_path, :class=>"brand"
          .nav-collapse.collapse
            %ul.nav
              %li.active= link_to "Home", root_path
              %li= link_to "Editor", root_path
              %li= link_to "Repositories", root_path
              %li= link_to "Help", root_path
    
    %header.jumbotron.subhead
      .container
        %h1 Let's go
        %p.lead Move fast, and break things.

    .container.affix-top
      = yield

    .footer
      .container
        %p © Aliyun 2013

